<div class="text-center">
    <div style="margin-top: 55px;">
        <img src="../assets/imgs/setLocation.PNG">
    </div>
    <div class="px-5 expectedTime">
        <span>Receiving Your order by <span class="expire"> Shgardi</span> service </span>
    </div>
    <div class="row">
        <span class="download">Download shgardi app </span>
        <div class="row text-center">
            <div class="col-6">
                <a  target="_blank" href="https://apps.apple.com/us/app/shgardi-%D8%B4%D9%82%D8%B1%D8%AF%D9%8A/id1452817340">
                   <img src="../assets/imgs/appleStore.jpg">
                </a>
            </div>
            <div class="col-6">
                <a  target="_blank" href="https://play.google.com/store/apps/details?id=com.mnasat.nashmi&hl=en_US&pli=1">
                    <img src="../assets/imgs/googlePlay.jpg">
                </a>
            </div>
        </div>
    </div>
    <div class="timer text-start">
        <p>Ecpected Time</p>
        <span>{{startDate}}</span><img src="../assets/imgs/to.PNG"><span>{{endDate}}</span>
    </div>
</div>