<div class="row">
    <div class="col-sm-12">
        <div class=" introduction">
            <div class="title">
                <h1>Receiving Your order by Shgardi service</h1>
                <p>Download shgardi app</p>
            </div>
            <div class="row appContainer ">
                <div class="col-6">
                    <a  target="_blank" href="https://apps.apple.com/us/app/shgardi-%D8%B4%D9%82%D8%B1%D8%AF%D9%8A/id1452817340">
                       <img src="../assets/imgs/appleStore.jpg">
                    </a>
                </div>
                <div class="col-6">
                    <a  target="_blank" href="https://play.google.com/store/apps/details?id=com.mnasat.nashmi&hl=en_US&pli=1">
                        <img src="../assets/imgs/googlePlay.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="aboutStore">
                <div class="row store">
                    <section class="col-2" style="padding: 0px;">
                        <img src="../assets/imgs/mcdonalds.png">
                    </section>
                    <section class="col-8 mx-3">
                        <span style="color: #393939;">
                            <h2>McDonald’s </h2>
                            <rmx-icon name="star-fill"></rmx-icon>
                            {{rating}}</span>
                        <p style="color: #A3A3A3;">Burger, Chicken Meals… </p>
                    </section>
                </div>
                <div class="storeDetails">
                    <h2>Order details</h2>
                    <p style="color: #6C6C6C;">is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
        <div class="schedule">
            <h2>Schedule your order</h2>
            <div class="row">
                <div class="col-6">
                    <rmx-icon name="calendar-line"></rmx-icon>
                    <span>Delivery Time</span>
                </div>
                <div class="col-6 d-flex justify-content-end" style="padding: 0px;">
                    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                        <mat-button-toggle value="now" checked>Now</mat-button-toggle>
                        <mat-button-toggle value="schedule" disabled>Schedule</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

            </div>
        </div>
        <div class="row mx-3 deliveryLocation">
            <a class=" text-start" >
                Delivery location
                <rmx-icon class="d-inline-block" name="arrow-right-s-line"></rmx-icon>
            </a>
            <div *ngIf="setLocation">
                <hr>
                <p>{{setLocationAdress}}</p>
            </div>
        </div>
        <div class="payment">
            <h2>Payment Methods</h2>
            <mat-radio-group aria-label="Select an option" class="matRadio">
                <mat-radio-button value="1" class="row" checked>
                    <span class="col-2">Cash</span>
                    <img class="col-4 float-right" src="../assets/imgs/cash.PNG">
                </mat-radio-button>
                <mat-radio-button value="2" class="row" disabled >
                    <span>Online Payment</span>
                    <div>
                        <img class="col-4" src="../assets/imgs/apple pay.PNG">
                        <img class="col-4" src="../assets/imgs/vesa.PNG">
                        <img class="col-4" src="../assets/imgs/mada.PNG">
                    </div>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="orderPrice">
            <div class="row" style="padding: 16px;">
                <div class="row">
                    <h5  class="col-5">Order price:</h5>
                    <h5   class="col-7" style="font-size: 16px; font-weight: bold;direction: rtl;"> SAR {{finalTotal }}</h5>
                </div>
                <div class="row">
                    <h5  class="col-5">Delivery fee:</h5>
                    <h5   class="col-7" style="direction: rtl;">SAR {{deliveryFee}} </h5>
                </div>
            </div>
            <div class="row totalPrice">
                <h2  class="col-5">Total Amount</h2>
                <a  class="col-7">Set location First</a>
            </div>
        </div>
        <div class="row check">
            <button disabled class="confirm">Confirm</button>
            <button class="cancel">Cancel</button>
        </div>
    </div>
</div>